<div class="game-player">
    <div class="col">
        <div class="game-player-container">
          <img class="game-player-image img-fluid" src="https://unsplash.it/300/300">
          <div class="game-player-name">Rastikko</div>
          <div class="game-player-life">20</div>
        </div>
    </div>
</div>
