/* http://paletton.com/palette.php?uid=75y140kllllaFw0g0qFqFg0w0aF */

$color-text: #E7DFDD;
$color-red: #D77777;
$color-primary: #0293F9;
$color-secondary: #00feff;

$color-almost-black: #020001;
$color-red: #A23645;

$text-shadow: -1px 0 $color-almost-black, 0 1px $color-almost-black, 1px 0 $color-almost-black, 0 -1px $color-almost-black;
