@import './_palette.scss';
@import './components/game-player-field';
@import './components/game-player';
@import './components/game-battle-field';

/* TODO: set an id to this fucker */
body > .ember-view {
    position: absolute;
    background-color: $background_blue;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.application-container {
    height: 100%;
}
