@import '../_palette';

.game-player-component {
    position: relative;
    max-width: 500px;
    max-height: 300px;
    height: 100%;
    border: 2px solid $almost_black;

    .game-player-name {
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $background_white;
        border-bottom: 2px solid $almost_black;
        // TODO: make it responsive
        font-size: 16px;
        font-weight: bold;
    }

    .game-player-avatar {
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 70%;
        border-bottom: 2px solid $almost_black;
    }

    .game-player-life {
        height: 10%;
        border-radius: 0;

        .progress-bar {
            height: 100%;
            box-shadow: none;
        }
    }
}
