// $border_color = #011119;
// $background_color = #515151;
// $font_color = #67c8ff;
// $gradient_top = #0c364a;
// $gradient_bottom = #114969;

body {
    color: #67c8ff;
    background-color: #515151;
}

.game-container {
    position: relative;
    border: 4px solid #011119;
    background-color: #515151;
    background-image: url('/images/background.jpg');
    background-size: contain;
    width:80vw;
    height:40vw;
    margin: 20px auto;
}
