@import '~jeet/jeet.styl'
@import '~rupture/rupture/index.styl'

@import './variables.styl'

imagePath = '../../images/'

body
    color: fontColor
    background-color: backgroundColor

#game
    +below(responsiveScale[0])
        width: responsiveScale[0];
        height: responsiveScale[0] * aspectRatio

    for value in responsiveScale
        +above(value)
            center(value)
            height: value * aspectRatio

    margin-top: 20px
    position: relative
    border: 4px solid borderColor
    background-image: url(imagePath + 'background.jpg')
    background-size: contain
