
background($path) {
    background-image: url($path);
    background-repeat: no-repeat;
    width: image-size($path)[0];
    height: image-size($path)[1];
}

.login-logo-container {
    padding-top: 20px;
    text-align: center;
}

.login-logo {
    width: 40.81%;
}

.login-button {
    background('../../../dist/images/button.png');
}
