// @import '../../utils/mixins.styl';
//
// $imagePath = '../../../dist/images/';
//
// .erudite-battles-login-component
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: center;
//     height: 100%;
//
//     .login-logo
//         width: 40.81%;
//         padding-top: 20px;
//
//     .login-button-container
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         padding-bottom: 100px;
//
//     .login-button
//         background($imagePath + 'button.png', 0.25);
//         font-family: Helvetica, Arial, sans-serif;
//         font-size: 45px;
//         font-weight: 500;
//         text-transform: uppercase;
//         display: flex;
//         align-items: center;
//         justify-content: center;
