<div class="game">
    {{game-navigation gamePlayer=game.enemyPlayer}}
    {{game-field gamePlayer=game.enemyPlayer}}
    {{game-field gamePlayer=game.heroPlayer}}
    {{game-navigation gamePlayer=game.heroPlayer}}
</div>
