<div class="jumbotron">
  <h2>Erudite Battles</h2>
  <p>The first educational RPG game</p>
</div>

<div class="login-buttons text-center">
    <button type="button" class="btn btn-lg btn-primary" {{action "signIn" "anonymous"}}>Anonymous sign in</button>
</div>
